@import "tailwindcss";

@theme {
    --color-corporate-blue: #0088ff;
    --color-corporate-black: #1d1d1f;
    --color-light-gray-bg: #f5f5f7;
    --color-corporate-dark-grey: #6e6e73;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 800px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 1280px;
    --font-national: "National 2 Condensed", sans-serif;
    --font-lato: "Lato", sans-serif;
}

img {
    max-width: initial;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.ticker-wrap {
    width: 100%;
    box-sizing: content-box;
    overflow: hidden;
    height: 80px;
    display: block;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 12.5%,
        rgb(0, 0, 0) 87.5%,
        rgba(0, 0, 0, 0) 100%
    );
    position: relative;
    padding: 40px 0;
}

.isp-ticker {
    background: radial-gradient(
        58.72% 247.69% at 28.67% -107.43%,
        rgba(190, 88, 249, 0.25) 13.46%,
        rgba(0, 128, 255, 0.195) 37.93%,
        rgba(179, 217, 255, 0.25) 65.15%,
        rgba(255, 255, 255, 0.25) 94.73%
    );
}

.ticker-wrap .ticker {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 100px;
    white-space: nowrap;
    position: relative;
    z-index: 10;
    height: 100%;
    /*padding-right: 100%;*/
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

.ticker-wrap .ticker__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticker-wrap .ticker__item img {
    mix-blend-mode: hard-light;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    200% {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
        visibility: visible;
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    200% {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
        visibility: visible;
    }
}

.corporate-radial {
    background: radial-gradient(
            179.38% 387.72% at -11.35% -101.74%,
            rgba(190, 88, 249, 0.25) 13.46%,
            rgba(0, 128, 255, 0.195) 37.93%,
            rgba(179, 217, 255, 0.25) 65.15%,
            rgba(255, 255, 255, 0.25) 94.73%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

@media (min-width: 768px) {
    .corporate-radial {
        background: radial-gradient(
                52.86% 167.69% at 28.91% -28.88%,
                rgba(190, 88, 249, 0.25) 13.46%,
                rgba(0, 128, 255, 0.195) 37.93%,
                rgba(179, 217, 255, 0.25) 65.15%,
                rgba(255, 255, 255, 0.25) 94.73%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    }
}

.faq-wrapper {
    gap: 24px;
}

.faq-answer-item {
    border: 2px solid #ffffff;
    overflow: hidden;
    background-color: #ffffff;
    transition: 0.3s all;
    padding: 20px;
    border-radius: 50px;
    gap: 24px;
}

@media (min-width: 768px) {
    .faq-answer-item {
        padding: 20px 40px;
    }
}

.faq-answer-header {
    color: #1d1d1f;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease;
    gap: 12px;
}

.faq-question {
    font-family: var(--font-lato);
    color: var(--color-corporate-black);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.accordion-content {
    background-color: #fafafa;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.faq-answer-content {
    display: none;
    max-width: 520px;
    margin-top: 16px;
}

.faq-answer-content p {
    line-height: 24px;
    color: #1d1d1f;
    font-size: 20px;
}

.faq-answer-content a {
    line-height: 24px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
}

.faq-icon {
    transition: transform 0.3s ease;
    width: 24px;
    min-width: 24px;
    background-color: transparent;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.faq-icon img {
    width: 24px;
    height: 24px;
    transition: 0.3s all ease;
}

.active .faq-icon img {
    transform: rotate(-90deg);
}

.trusted-by-slide {
    background: radial-gradient(
        75.18% 157.68% at 62.86% -19.64%,
        rgba(190, 88, 249, 0.25) 13.46%,
        rgba(0, 128, 255, 0.195) 37.93%,
        rgba(179, 217, 255, 0.25) 65.15%,
        rgba(255, 255, 255, 0.25) 94.73%
    );
}

.swiper-pagination-bullet {
    background-color: #f5f5f7 !important;
    width: 12px;
    height: 12px;
    border: 1px solid #6e6e73 !important;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    background-color: #6e6e73 !important;
}

@keyframes appear {
    from {
        opacity: 0.5;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.appearBlock {
    animation: appear 2s linear;
    animation-timeline: view();
    animation-range: entry;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-thin.woff2")
        format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-thin-italic.woff2")
        format("woff2");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-extralight.woff2")
        format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-extralight-italic.woff2")
        format("woff2");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-light.woff2")
        format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-light-italic.woff2")
        format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-regular.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-regular-italic.woff2")
        format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-medium.woff2")
        format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-medium-italic.woff2")
        format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-bold.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-bold-italic.woff2")
        format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-extrabold.woff2")
        format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-extrabold-italic.woff2")
        format("woff2");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-black.woff2")
        format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/broadbandavailability.com_new/fonts/test-national-2-condensed-black-italic.woff2")
        format("woff2");
    font-weight: 900;
    font-style: italic;
}

/*@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-thin-italic.woff2")
        format("woff2");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-extralight.woff2")
        format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-extralight-italic.woff2")
        format("woff2");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-light-italic.woff2")
        format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-regular-italic.woff2")
        format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-medium-italic.woff2")
        format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-bold-italic.woff2")
        format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-extrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-extrabold-italic.woff2")
        format("woff2");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "National 2 Condensed";
    src: url("/fonts/test-national-2-condensed-black-italic.woff2")
        format("woff2");
    font-weight: 900;
    font-style: italic;
}*/

.dialog-scrollable::-webkit-scrollbar {
    width: 8px;
}
.dialog-scrollable::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}
.dialog-scrollable::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 4px;
}
.dialog-scrollable::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}

.agents-swiper .swiper {
    padding: 0 0 64px 0;
}

.agents-swiper .swiper-pagination {
    bottom: 0 !important;
}

._lock {
    overflow: hidden;
}
